<div class="container"> 
    <div class="slider">
        <div class="box1 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Cervezas Artesanales Nacionales</h1>
                <p>
                    Embárcate en un viaje sensorial a través de la pasión cervecera de Colombia con nuestras cervezas nacionales artesanales.  
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/cervezas.jpeg" alt=""></div></div>
        </div>
        <div class="box2 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Jugos Naturales</h1>
                <p>
                    Disfruta de la frescura y el sabor auténtico de las frutas y verduras en cada sorbo de nuestros jugos naturales. Elaborados con ingredientes 100% frescos y sin aditivos.
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"> <img class="img" src="../../assets/img/jugosnaturales.jpg" alt=""></div></div>
        </div>
        <div class="box3 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Padrino Cocktail</h1>
                <p>
                    Saborea la elegancia italiana con un clásico reinventado: el cóctel Padrino.
                    Su versatilidad lo convierte en el acompañante perfecto para cualquier ocasión.
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/padrino2.jpg" alt=""></div></div>
        </div>
        <div class="box4 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Negroni Cocktail</h1>
                <p>
                    Cada sorbo de Negroni te deleitará con una explosión de sabores contrastantes. La amargura del Campari se equilibra con la dulzura del vermut dulce y la fuerza de la ginebra.
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/coctel1.jpg" alt=""></div></div>
        </div>
        <div class="box5 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Gaseosas Al Gusto</h1>
                <p>
                    Disfrutar de una gaseosa fría es más que solo saciar la sed, es un momento de alegría y placer. Su burbujeante frescura te transporta a un instante de felicidad, ya sea solo o en compañía de amigos y familiares.
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/gaseosas.png" alt=""></div></div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>
    <div class="trail">
        <div class="box1 active"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>
    </div>
</div>
