<section class="paginaprincipal">


    <section class="seccion1">

        <div>
            <app-encabezado></app-encabezado>
        </div>

    </section>



    <div class="plantas">
        <img class="imagen1" alt="img1" src="../assets/img/img1.png" />
        <img class="imagen2" alt="img2" src="../assets/img/img2.png" />
        <img class="imagen3" alt="img3" src="../assets/img/img3.png" />
    </div>

    <body>

        <section class="contacto">
            <div class="container">
                <h1 class="titulo1">Contacto - Parrilla Maestra: BAR & GRILL</h1>
                <div class="contact-info">
                    <div class="contact-info-item">
                        <h3>Dirección</h3>
                        <p>Calle Mayor, 123<br>Ciudad, Código Postal</p>
                    </div>
                    <div class="contact-info-item">
                        <h3>Teléfono</h3>
                        <p>+57 123 456 7890</p>
                    </div>
                    <div class="contact-info-item">
                        <h3>Correo Electrónico</h3>
                        <p><a href="mailto:parillamaestra2@menurestaurante.org">parillamaestra2♥menurestaurante.org</a>
                        </p>
                    </div>
                </div>
                <div class="location-map">
                    <!-- Aquí iría el mapa de ubicación -->
                </div>
                <div class="additional-info">
                    <h2>Información Adicional</h2>
                    <strong>
                        <p>Servicios adicionales:</p>
                    </strong>
                    <br>
                    <ul>
                        <li>Eventos especiales y celebraciones</li>
                        <li>Opciones de catering para eventos privados</li>
                        <li>Menús para grupos y ocasiones especiales</li>
                    </ul><br>
                    <p>¡Contáctanos para más detalles!</p>
                </div>
                <div class="faq">
                    <h2>Preguntas Frecuentes</h2>
                    <p><strong>¿Cuáles son los métodos de pago aceptados?</strong><br> Aceptamos efectivo, tarjetas de
                        crédito y débito.</p>
                    <p><strong>¿Se puede hacer una reserva en línea?</strong><br> Sí, puedes hacer una reserva a través
                        de nuestro sitio web o llamando a nuestro número de teléfono.</p>
                    <!-- Otras preguntas frecuentes -->
                </div>
            </div>
        </section>
    </body>





    <section class="piePagina">
        <app-pie-pagina></app-pie-pagina>
    </section>
</section>