::ng-deep body {
  background-color: rgb(233, 233, 233);
  margin: 0;
}

.hero {
  
  background-position: center;
  height: 90%;
  width: 50%;
  left: 25%;
  text-align: center;
  margin-top: 13%;
  position: relative;
}


.hero p{
  margin-top: 4%;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero2 h1{
    margin-top: 5%;
    top: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 2%;
}
.hero h2 {
  color: black;
  font-weight: bold;

}

.desc1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 4%;
}

.descripcion {
  padding: 20px;
}

.descripcion h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.descripcion p {
  font-size: 1em;
  line-height: 1.5em;
}

.informacion {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 5%;
  height: 25%;
  width: 96%;
  top:110%;
  margin-left: 2%;
  
}

.informacion h3 {
  font-size: 1.5em;
  margin-bottom: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}

.informacion ul {
  list-style: none;
  padding: 0;
}

.informacion ul li {
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.precio {
  background-color: #adadad;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 3%;
  width: 96%;
  height: 13%;
  top: 140%;
  padding-bottom: 20px;
  margin-left: 2%;
}

.img{
  margin-top: 4%;
  border-radius: 1rem;
  filter: drop-shadow(10px 7px 20px #ff9900 );
}

.precio h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

button {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #000000;
}
  
  .imagen {
    width: 70%;
    height: 70%;
    object-fit: cover;
    transition: transform 0.9s ease-in-out;
  }
  
  .imagen:hover {
    transform: scale(1.1);
  }

  .footer{
    margin-top: 5%;
  }

