<section class="contenedorprinncipal">
<section>
  <app-encabezado></app-encabezado>
</section>


<section class="hero">
    <h2>Disfruta de este clásico plato de la Parrilla Maestra</h2>
    <p>Disfruta de nuestra exquisita creación: tierna carne de
        ternera, suaves papas criollas y verdura al gusto, todo
        fusionado en una rica salsa de tomate casera.</p>
        <img src="../../assets/img/MENU2.jpg" alt="">
</section>
<section class="hero2">
  <h1>Delicia Grill: Carne, Papas y Verduras</h1>
</section>
<section class="informacion">
    <h3>Información nutricional</h3>
    <ul>
        <li>Calorías: 450</li>
        <li>Grasa: 25 g</li>
        <li>Proteína: 20 g</li>
        <li>Carbohidratos: 40 g</li>
    </ul>
</section>
<section class="precio">
    <h2>Precio: $45.900</h2>
    <button type="" (click)="redirigirReservas()"> ¡Reserva Mesa Ahora!</button>
    
</section>
<section>
<footer>
  
    <app-pie-pagina></app-pie-pagina>
    
</footer>
</section>

</section>