<section class="seccionfinal">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <strong><h2>Parrilla Maestra: BAR & GRILL"</h2></strong>
          <p>¡Disfruta de la mejor carne a la parrilla en un ambiente cálido y acogedor!</p>
          <ul class="list-unstyled">
            <li><i class="fas fa-map-marker-alt"></i> Calle Mayor, 123, Ciudad, Código Postal</li>
            <li><i class="fas fa-phone"></i> +57 123 456 7890</li>
            <li><i class="fas fa-envelope"></i>parillamaestra2♦menurestaurante.org</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h3>Menú y Reservas</h3>
          <ul class="list-unstyled">
              <li><a href="#">Menú</a></li>
              <li><a href="#">Reservas</a></li>
          </ul>
          <h3>Síguenos en:</h3>
          <ul class="list-inline social-buttons">
              <li><a href="instagram.com"><img src="../../assets/img/facebook (2).png" alt="Facebook" style="border-radius: 50%;"></a></li>
              <li><a href="#"><img src="../../assets/img/instagram.png" alt="Instagram" style="border-radius: 50%;"></a></li>
              <li><a href="#"><img src="../../assets/img/gorjeo.png" alt="Twitter" style="border-radius: 50%;"></a></li>
          </ul>
      </div>      
        <div class="col-md-4">
          <img src="../../assets/img/logo4.png" alt="Imagen de una parrilla con carne a la brasa" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
