<div class="wrapper">
	<div class="card">
		<div class="poster"><img src="../../assets/img/f768x1-672059_672186_142.webp" alt="Location Unknown"></div>
		<div class="details">
			<h1>¡FESTÍN DEL CARNIVORO!</h1>
			<h2>UN CARNAVAL DE SABORES.</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>

			</div>
			<div class="tags">
				<span class="tag">CARNE</span>
				<span class="tag">PAPAS</span>
				<span class="tag">VINO</span>
			</div>
			<p class="desc">
				"Festín del Carnívoro" es un plato delicioso y satisfactorio que seguramente complacerá a cualquier
				amante de la carne.
			</p>
			<button class="btn">Mas Informacíon</button>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="../../assets/img/istockphoto-1086363518-612x612.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>¡CORDERO DORADO MEDITERRANEO!</h1>
			<h2>Un viaje culinario a las islas griegas.</h2>

			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>

			</div>
			<div class="tags">
				<span class="tag">CORDERO</span>
				<span class="tag">ENSALADA</span>
				<span class="tag">PITA</span>

			</div>
			<p class="desc">
				Un plato delicioso y nutritivo que te transportará a las costas del Mediterráneo con cada bocado.
				Perfecto para una cena especial o para compartir con amigos y familiares.
			</p>
			<button class="btn">Mas Informacíon</button>


		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="../../assets/img/cerca-deliciosa-comida-asiatica_23-2150535873.avif" alt="Location Unknown"></div>
		<div class="details">
			<h1>¡COSTILLAS DEL VIÑEDO!</h1>
			<h2>Un viaje al paraíso de las costillas asadas.</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<i class="far fa-star"></i>
			</div>
			<div class="tags">
				<span class="tag">COSTILLAS</span>
				<span class="tag">ENSALDA</span>
				<span class="tag">TINTO</span>
			</div>
			<p class="desc">
				No solo es un plato, es una experiencia sensorial que te transportará al paraíso de la carne. Cada
				bocado te sumergirá en un torbellino de sabores y texturas que te dejarán sin aliento.
			</p>
			<button class="btn">Mas Informacíon</button>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="../../assets/img/costillas-res-parrilla-sirviendo-sobre-tabla-madera-sobre-mesa-rustica-menu-restaurante-barbacoa-ia-generativa_874904-1620.jpg"
				alt="Location Unknown"></div>
		<div class="details">
			<h1>¡SINFONÍA TERIYAKI!</h1>
			<h2> Un viaje a Japón en cada bocado.</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
			</div>
			<div class="tags">
				<span class="tag">COSTILLAS</span>
				<span class="tag">SALSA</span>
				<span class="tag">CASQUILLOS</span>
			</div>
			<p class="desc">
				Cada bocado te dejará un recuerdo imborrable de una experiencia gastronómica única y memorable. Es un
				viaje a través de los sabores asiáticos que te conquistará desde el primer momento.
			</p>
			<button class="btn">Mas Informacíon</button>
		</div>
	</div>
</div>