<section>
    <img class="logo2" src="../assets/img/logo4.png" alt="logo" />
    <div class="navbar">
        <button class="barra">Menu</button>
        <button class="barra">Reservaciones</button>
        <button class="barra">Sobre Nosotros</button>
        <button class="barra">Contacto</button>
    </div>
    <div class="nav-botones">
        <div class="boton">
            <button type="" class="signin">Acceso</button>
        </div>
        <div class="boton">
            <button type="" class="signin2">Registro</button>
        </div>
    </div>
</section>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Crea tu Cuenta</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>Usa tu email para registrarte</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Registrarse</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Acceder</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>Usa el email de tu cuenta</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Olvidaste tu contraseña?</a>
			<button>Acceder</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenido de Vuelta!</h1>
				<p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
				<button class="ghost" id="signIn">Acceder</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hola, Amigo!</h1>
				<p>
                    Introduce tus datos personales y comienza tu viaje con nosotros.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
