<div class="container"> 
    <div class="slider">
        <div class="box1 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Trio de Sabores Grill Maestro</h1>
                <p>
                  Experimenta la perfección culinaria con nuestro plato
                  destacado: jugosas rodajas de carne a la parrilla, papas
                  asadas a la perfección y verduras frescas salteadas. 
                </p>
                <button (click)="redirigirPlato1()">Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/MENU1.jpg" alt=""></div></div>
        </div>
        <div class="box2 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Delicia Grill: Carne, Papas y Verduras</h1>
                <p>
                    Disfruta de nuestra exquisita creación: tierna carne de ternera, suaves papas criollas y verdura al gusto, todo fusionado en una rica salsa de tomate casera. 
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"> <img class="img" src="../../assets/img/MENU2.jpg" alt=""></div></div>
        </div>
        <div class="box3 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Parrillada Maestra de la Casa</h1>
                <p>
                    Atrevete a conocer las sensaciones que provoca 
                    nuestro plato de la casa, exquisitos cortes de carnes finas,
                    acompañadas de verduras salteadas y salsa al gusto.
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/MENU3.avif" alt=""></div></div>
        </div>
        <div class="box4 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Sabores Hogareños: Parrilla Familiar</h1>
                <p>
                    Comparte en familia de poderosas mariposas
                     de carnes finas, teniendo como acompañamiento 
                     una porciona de arroz blanco junto con papa a la 
                     francesa y salsas al gusto.. 
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/menu6.jpg" alt=""></div></div>
        </div>
        <div class="box5 box">
            <div class="bg"></div>
            <div class="details">
                <h1>Festín Tomahawk: Un corte legendario</h1>
                <p>
                    Esta experiencia carnívora te presenta un Tomahawk Steak, 
                    también conocido como costilla en cruz, proveniente de la sección de costillas 
                    cortas del lomo alto de la res.
                </p>
                <button>Mas Información</button>
            </div>
            <div class="illustration"><div class="inner"><img src="../../assets/img/menu4.jpeg" alt=""></div></div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>
    <div class="trail">
        <div class="box1 active"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>
    </div>
</div>