
    <div class="contenedor-principal">
      <div class="pagina-inicio">
        <section class="seccion1">
        <img class="logo2" src="../assets/img/logo4.png" alt="logo">
        <div class="plantas">
            <img class="imagen1" alt="img1" src="../assets/img/img1.png">
            <img class="imagen2" alt="img2" src="../assets/img/img2.png"> 
            <img class="imagen3" alt="img3" src="../assets/img/img3.png">
        </div>
        <div class="imagenes-restaurante">
            <img class="restaurante" src="../assets/img/RESTAU.png" alt="restau">
            <img class="plato1" src="../assets/img/plato1.png" alt="plato">

        </div>
        <div class="eclipses">
            <div class="circulo1"></div>
            <div class="circulo2"></div>
            <div class="circulo3"></div>
        </div>
        <div class="nav-botones">
            <div class="boton">
                <img class="signin" src="../assets/img/signin.svg" alt="log">
                <p class="login">Acceso</p>
            </div>
            <div class="boton">
                <img class="signin2" src="../assets/img/signin.svg" alt="log">
                <p class="signup">Registro</p>
            </div>
        </div>
        <div class="navbar">
            <a routerLink="/menu"><button>Menu</button></a>
            <button>Reservaciones</button>
            <button>Sobre Nosotros </button>
            <button>Contacto</button>
        </div>  

        <h1 class="titulop"> Te ofrecemos la mejor comida!!</h1>
        <p class="texto1">Deléitate con nuestra exquisita selección de carnes premium, cuidadosamente preparadas para ofrecerte una experiencia culinaria única.</p>
        
        <div class="nav-botones2">
            <img class="botonnegro" src="../assets/img/botonnegro.svg" alt="botonnegro">
            <p class="descplato1">Especial</p>
        </div>
        <div class="botonreserva">
            <img src="../assets/img/botonreserva.svg" alt="botonreserva1">
            <p class="descbotonreserva">Reservaciones</p>
        </div>
        <div class="redes">
            <div class="facebook">
              <div class="face1"></div>
              <img class="imgface" src="../assets/img/facebook.png" alt="facebook">
            </div>
            <div class="twitter">
                <div class="twi1"></div>
                <img class="imgtwi" src="../assets/img/twitter.png" alt="twitter">
            </div>
            <div class="instagram">
                <div class="insta1"></div>
                <img class="imginsta" src="../assets/img/instagram.svg" alt="instagram">
            </div>
            <div class="linea">
                <img class="linea" src="../assets/img/linea1.svg" alt="linea">
            </div>
            <div class="linea2">
                <img class="linea2" src="../assets/img/linea1.svg" alt="linea">
            </div>      
        </div>
    </section>

    </div>
    </div>

