::ng-deep body {
    background-color: rgb(233, 233, 233);
    margin: 0;
    
  }
  .body{
    width: 100%;
  }
  
  .contenedor-principal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    max-height: 100%;
    margin: 0% auto;
  }
  
  .logo2{
    position: absolute;
    top: 5%;
    right: 81%; 
  }
  
  .circulo1{
    border: 1px solid;
    color: rgb(190, 188, 188);
    border-radius: 50%;
    height: 106%;
    left: -23.1%;
    position: absolute;
    top: -42%;
    width: 50.5%;
  }
  .circulo2{
    border: 1px solid;
    color: rgb(190, 188, 188);
    border-radius: 50%;
    height: 106%;
    left: -23.5%;
    position: absolute;
    top: -62%;
    width: 50.5%; 
  }
  .circulo3{
    border: 1px solid;
    color: rgb(190, 188, 188);
    border-radius: 51%;
    height: 106%;
    left: -23.7%;
    position: absolute;
    top: -53.5%;
    width: 50.5%; 
  }
  
  .nav-botones{
    position: absolute;
    height: 10%;
    left: 78%;
    top: 4%;
    width: 20%;
    display: flex;
    justify-content: 20%;
    align-items: center;
  }
  
  .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%; 
    height: 80%; 
    border-radius: 5px;
    background-color: #f58220; 
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    margin: 0 2vw; 
  }
  
  .boton button {
    color: #ffffff; 
    background-color: transparent;
    font-size: 120%; 
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
  }
  
  .pagina-principal  {
    background-color: transparent;
    position: absolute;
  }
  
  .navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:  absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    padding: 0.5%;
    border: none;
  }
  
  .barra {
    background-color: transparent;
    color: #000; 
    border: none;
    padding: 1%;
    font-size: 115%;
    cursor: pointer;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: overline; /* Evita el subrayado predeterminado */
    transition: text-decoration 0.3s; 
}

/* Espacio entre "Menu" y "Reservaciones" */
.barra:nth-child(2) {
    margin-right: 10%;
}

/* Estilo para "Sobre nosotros" y "Contacto" */
.barra:nth-child(3) {
    margin-left: 10%;
}

.barra:hover {
    text-decoration: underline;
}

  .imagen1 {
    position: absolute;
    height: 40%;
    left: 79%; 
    top: 25%;
    width: 18%;
    
  }
  .imagen2{
    position: absolute;
    height: 29%;
    left: 46%;
    top: 38%;
    width: 25%;
  }
  .imagen3{
    position: absolute;
    height: 37%;
    left: 83%;
    top: 75%;
    width: 16%;
  }
  
  .restaurante{
    position: absolute;
    left: 60%;
    top: 35%;
    height: 78%;
    width: 27%;
    filter:drop-shadow(10px 7px 20px #f58220);
  }
  
  .plato1{
    position: absolute;
    left: 45%;
    top: 72%;
    height: 42%;
    width: 21%;
    filter:drop-shadow(10px 7px 20px #f58220);
  }
  
  .titulop{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 410%;
    font-weight: 400%;
    height: auto;
    left: 12%;
    line-height: 109%;
    position: absolute;
    text-align: left;
    top: 42%;
    width: 42%;
  }
  
  .texto1{
    left: 12%;
    line-height: 260%;
    text-align: left;
    top: 67%;
    width: 28%;
    position: absolute;
    font-size: 140%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', cursive, ;

  }

  .botones_arriba{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:  absolute;
    top: 89%;
    left: 26%;
    transform: translateX(-50%);
    width: 40%;
    padding: 0.5%;
    border: none;
    height: 10%;
  }

  .botonReservas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; 
    height: 90%; 
    border-radius: 5px;
    background-color: #f58220; 
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    margin: 0 2vw; 
  }
  
  .botonReservas button {
    color: #ffffff; 
    background-color: transparent;
    font-size: 130%; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  .botonEspecial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; 
    height: 90%; 
    border-radius: 5px;
    background-color: black; 
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    margin: 0 2vw; 
  }
  
  .botonEspecial button {
    color: #ffffff; 
    background-color: transparent;
    font-size: 130%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  .linea{
    background-color: black;
    height: 0.3%;
    left: 7%;
    object-fit: cover;
    position: absolute;
    top: 109%;
    width: 40%;
  }

  .linea2{
    background-color: black;
    height: 0.3%;
    left: 0%;
    object-fit: cover;
    position: absolute;
    top: 120%;
    width: 100%;
  }

  .seccion2{
    position: absolute;
    top: 128%;
    max-width: 100%;
  }
  .pagina-inicio2{

    font-family: 'Courier New', Courier, monospace;
    color: #f58220;


  }
