<div>
    <img class="logo2" src="../assets/img/logo4.png" alt="logo" />

    <div class="eclipses">
        <div class="circulo1"></div>
        <div class="circulo2"></div>
        <div class="circulo3"></div>
    </div>

    <div class="nav-botones">
        <div class="boton">
            <button type="" class="signin" (click)="redirigirALogin()">Acceso</button>
        </div>
        <div class="boton">
            <button type="" class="signin2" (click)="redirigirALogin()">Registro</button>
        </div>
    </div>

    <div class="navbar">
        <button class="barra">Menu</button>
        <button class="barra">Reservaciones</button>
        <button class="barra">Sobre Nosotros</button>
        <button class="barra">Contacto</button>
    </div>
</div>